<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../www/form.css">
    <title>Document</title>
</head>
<body>
    <!-- /frame/www/article/add -->
    <form action="/frame/www/article/add" method="post" class="ui-form">
        <h3>Новая статья</h3>
        <div class="form-row">
        <input type="text" id="name" name="artname" required autocomplete="off"><label for="name">Название статьи</label>
        </div>
        <div class="form-row">
        <input type="text" id="text" name="arttext" required autocomplete="off"><label for="text">Текст</label>
        </div>
        <p><input type="submit" value="Добавить"></p>
        </form>
</body>
</html>